@import '../../../styles/colors.scss';
@import '../../../styles/style.scss';

.header{
    width: 100%;
    display: flex;
    background-color: $color-primary;
    color: $color-font-default;
    font-family: 'Playfair Display', serif;
    text-decoration: none;
    .container{
        @include container;
    }
    &-text{
        align-self: center;
        align-items: center;
        display: flex;
        font-size: 28px;
        justify-content: center;
        text-decoration: underline $color-font-default;
        font-weight: 600;
        font-style: italic;
        text-decoration: none;
        color: $color-font-default;
    }
}