@import '../../../styles/colors.scss';
@import '../../../styles/style.scss';

.card{

    display: flex;
    margin-bottom: 2rem;
    margin-top: 2rem;
    height: 100%;
    border: 3px solid #22223b;
    border-radius: 0%;
    background-color: #4a4e69;
    text-decoration: none;
    color: #ffff;
    justify-content: flex-end;
 &-div{
     display: flex;
     align-items: center;
     padding: .8rem;
 }
 &-title{
    margin: 0 auto;
    text-decoration: none;
    font-size: 1.2vw;
    font-weight: 600;
    text-transform: capitalize;
 }   
 &-text{
    padding-right: 4vw;
    text-align: end;
    padding-left: 52vw;
    font-size: 1.2vw;
    font-weight: 600;
    text-transform: capitalize;
 }
 &-info{
     padding-left: 5rem;
     font-size: 1rem;
     font-size: 1.2vw;
     text-transform: capitalize;
 }
 .high{
     color: $color-danger;
     font-size: 1.2vw;
     text-decoration: underline;
     font-weight: 600;
 }
 .mid{
     color: #ffd60a;
     font-size: 1.2vw;
     text-decoration: underline;
     font-weight: 600;
 }
 .low{
     color: $color-success;
     font-size: 1.2vw;
     text-decoration: underline;
     font-weight: 600;
 }
}